#logo {
	position:absolute;
	left: 10px;
	top:10px;
	height:50px;
	width:136px;
	src:"faflexlogo.svg";
}

#teachertable {
	position:absolute;
	top:50%;
	left:5%;
	border:5px;
	border-width: 5px;
	width: 90%;
	border-color: black;
}

#studenttable {
	position: absolute;
	top: 40%;
	left: 10%;
	width: 170px;
	border: 5px;
	border-width: 5px;
	border-color: black;
}

#weektable {
	position:absolute;
	display: block;
	top:30%;
	left: calc(50% - 162px);
	border:5px;
	border-width: 5px;
	width: 325px;
	border-color: black;
	font-weight: bold;
}

#signin{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color: white;
	z-index: 2;
}

#signintxt{
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10%;
	width: 80%;
	font-size: 30px;
	font-family: "Arial";
	z-index: 3;
}
#signupbutton {
	position: absolute;
	right: 250px;
	top:20px;
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
}

#schedulebutton {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
}

#searchbar {
	position: absolute;
	left: 40%;
	text-align: center;
	top: 200px;
	width: 20%;
	height: 50px;
}

#searchtxt {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10%;
	width: 80%;
	font-size: 30px;
	font-family: "Arial";
}

#googlebutton{
	position: absolute;
	top:0%;
	left:0px;
}

#googlesignin{
	position: absolute;
	top:40%;
	left:calc(50% - 106px);
	width: 200px;
}

.topnav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color:#09093b;
	z-index: 4;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

table {
	text-align:center;
}

@media screen and (max-width: 600px) {
  #searchbar{
    text-align: center;
    width: 80%;
    left: 10%;
  }

}
