#logo {
	position:absolute;
	left: 10px;
	top:10px;
	height:50px;
	width:136px;
	src:"faflexlogo.svg";
}

#teachertable {
	position:absolute;
	top:50%;
	left:5%;
	border:5px;
	border-width: 5px;
	width: 90%;
	border-color: black;
}

#flexstudents {
	position: absolute;
	top: 275px;
	left: 10%;
	width: 170px;
	border: 5px;
	border-width: 5px;
	border-color: black;
}

#visitingstudents {
	position: absolute;
	top: 275px;
	right: 10%;
	width: 170px;
	border: 5px;
	border-width: 5px;
	border-color: black;
}

#weektable {
	position:absolute;
	display: block;
	top:200px;
	left: calc(50% - 240px);
	border:5px;
	border-width: 5px;
	width: 480px;
	border-color: black;
	font-weight: bold;
}

#signin{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color: white;
	z-index: 2;
}

#signintxt{
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10%;
	width: 80%;
	font-size: 30px;
	font-family: "Arial";
	z-index: 3;
}
#signupbutton {
	position: absolute;
	right: 250px;
	top:20px;
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
}

#confirmsignup {
	position: absolute;
	top: 300px;
	width: 25%;
	left: calc(50% - 12.5%);
	font-family: "Arial";
	color: black;
	text-decoration: none;
	text-align: center;
}

#schedulebutton {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
}

#searchbar {
	position: absolute;
	left: 40%;
	text-align: center;
	top: 200px;
	width: 20%;
	height: 50px;
}

#searchtxt {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10%;
	width: 80%;
	font-size: 30px;
	font-family: "Arial";
}

#googlebutton{
	position: absolute;
	top:0%;
	left:0px;
	width:300px;
}

#googlesignin{
	position: absolute;
	top:40%;
	width: 300px;
	left:calc(50% - 150px);
}

#signupmenu {
	width: 100%;
	top: 0px;
	height: 1000px;
}

.topnav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color:#09093b;
	z-index: 4;
}

.g-signin2 {
	position: absolute;
	top: 300px;
	width: 120px;
	left: calc(50% - 60px);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

table {
	text-align:center;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: #09093b;
	text-align: right;
	height: 60px;
}

.foot {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
	text-align: right;
}

a:link#available, a:visited#available {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover#available, a:active#available {
  color: blue;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
  #searchbar{
    text-align: center;
    width: 80%;
    left: 10%;
  }

}
