#logo {
	position:absolute;
	left: 10px;
	top:10px;
	height:50px;
	width:136px;
	src:"faflexlogo.svg";
}

#teachertable {
	border:5px;
	width: 90%;
	border-color: black;
	margin: 5% 5% 0% 5%;
}

#newUserPopup {
	margin-top: 75px;
	padding: 8px;
	width:100%;
	height: auto;
}

#flexstudents {
	margin-left: 5%;
	margin-top: 8%;
	margin-right: auto;
	width: 35%;
}

#visitingstudents {
	margin-right: 5%;
	margin-top: 8%;
	width: 35%;
}

#weektable {
	margin-top: 2%;
	border-color: black;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

#signin{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color: white;
	z-index: 2;
}

#signintxt{
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10%;
	width: 80%;
	font-size: 30px;
	font-family: "Arial";
	z-index: 3;
}
#signupbutton {
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
	padding: 20px;
	padding-right: 0px;
	float: right;
}

#confirmsignup {
	margin-top: 2%;
}

#schedulebutton {
	font-size: 30px;
	font-family: "Arial";
	color: white;
	text-decoration: none;
	padding: 20px;
	float: right;
}

#searchbar {
	margin-top: 2%;
	text-align: center;
	width: 20%;
	height: 50px;
}

#searchtxt {
	margin-bottom: 0px;
	text-align: center;
	font-size: 30px;
	font-family: "Arial";
}

#underSearchtxt {
	margin-top: 0px;
	text-align: center;
	font-size: 22px;
	font-family: "Arial";
}

#updateSlots {
	text-align: center;
	margin-top: 2%;
}

#googlebutton{
	position: absolute;
	top:0%;
	left:0px;
	width:300px;
}

#googlesignin{
	position: absolute;
	top:40%;
	width: 300px;
	left:calc(50% - 150px);
}

#signupmenu {
	width: 100%;
	top: 0px;
	height: 950px;
}

#kickbutton {
	position: absolute;
	left: 10px;
	top: 80px;
	text-align: center;
}

#tableContainer {
	display: flex;
	width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

.slotsInput {
	position: relative;
	text-align: center;
	align-self: center;
	width: 100px;
}

.topnav {
	width: 100%;
	height: 75px;
	background-color:#09093b;
	z-index: 4;
}

.g-signin2 {
	position: absolute;
	top: 300px;
	width: 120px;
	left: calc(50% - 60px);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

table {
	text-align:center;
}

body {
	margin: 0px;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: #09093b;
	text-align: right;
	height: 60px;
}

#footerSpace {
	height: 60px;
	width: 100%;
	margin-top: 5%;
}

.foot {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
	text-align: right;
}

a:link#available, a:visited#available {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover#available, a:active#available {
  color: blue;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
  #searchbar{
    text-align: center;
    width: 80%;
    left: 10%;
  }

}
